Nama: I Putu Natha Kusuma

NIM: 235150201111023

Kelas: Teknik Informatika B

$y(x) = x+9$

$y(2) = 2 + 9 = 11$

In [1]:
def y(x):
    return x+9

In [2]:
y(2)

11

In [3]:
def fungsi1():
    print("halo dunia")

In [4]:
fungsi1()

halo dunia

In [5]:
def fungsi2(nama):
    print(f"Selamat pagi {nama}")

In [6]:
fungsi2("Natha")

Selamat pagi Natha

In [7]:
def fungsi3(nama_depan, nama_belakang):
    print(f"Selamat pagi {nama_depan} {nama_belakang}")

In [8]:
fungsi3("Natha", "Kusuma")

Selamat pagi Natha Kusuma

In [9]:
def fungsi4(*nama):
    print(f"Mahasiswa terbaik {nama[1]}")

In [10]:
fungsi4("Ali", "Budi", "Caca", "Didi", "Eko", "Fani")

Mahasiswa terbaik Budi

In [11]:
fungsi4("Ali", "Budi", "Caca", "Didi", "Eko")

Mahasiswa terbaik Budi

In [12]:
fungsi4("Ali")

IndexError: tuple index out of range

> Error karena index yang dipanggil adalah index 1, tetapi hanya ada sampai index 0

In [13]:
def fungsi5(mahasiswa1, mahasiswa2, mahasiswa3):
    print(f"mahasiswa terbaik : {mahasiswa2}")

In [14]:
fungsi5("Ali", "Budi", "Caca")

mahasiswa terbaik : Budi

In [15]:
def fungsi6(mahasiswa1, mahasiswa3, mahasiswa2):
    print(f"mahasiswa terbaik : {mahasiswa2}")

In [16]:
fungsi6("Ali", "Budi", "Caca")

mahasiswa terbaik : Caca

In [17]:
def fungsi7(mahasiswa1="Zizi", mahasiswa2="Yoga", mahasiswa3="Xavi"):
    print(f"mahasiswa terbaik : {mahasiswa2}")

In [18]:
fungsi7("Ali", "Budi", "Caca")

mahasiswa terbaik : Budi

In [19]:
fungsi7()

mahasiswa terbaik : Yoga

Buatlah fungsi kuadrat pada python

```kuadrat(a) = a*a```

In [20]:
def kuadrat(a):
    return a*a

In [21]:
kuadrat(6)

36

In [22]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

In [23]:
def fungsi5(mahasiswa1, mahasiswa2, mahasiswa3):
    # fungsi5 digunakan untuk memilih mahasiswa terbaik
    print(f"mahasiswa terbaik : {mahasiswa2}")

In [24]:
help(fungsi5)

Help on function fungsi5 in module __main__:

fungsi5(mahasiswa1, mahasiswa2, mahasiswa3)

In [25]:
def fungsi5(mahasiswa1, mahasiswa2, mahasiswa3):
    '''
    fungsi5 digunakan untuk memilih mahasiswa terbaik
    '''
    print(f"mahasiswa terbaik : {mahasiswa2}")

In [26]:
help(fungsi5)

Help on function fungsi5 in module __main__:

fungsi5(mahasiswa1, mahasiswa2, mahasiswa3)
    fungsi5 digunakan untuk memilih mahasiswa terbaik

In [27]:
def kuadrat(a):
    '''
    ini fungsi untuk melipat gandakan nilai a
    '''
    return a*a

In [28]:
help(kuadrat)

Help on function kuadrat in module __main__:

kuadrat(a)
    ini fungsi untuk melipat gandakan nilai a